# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
proj0/In.java
proj0/StdAudio.java
proj0/StdDraw.java
proj0/StdOut.java
proj0/test.java
proj0/TestBodyConstructor.java
proj0/TestCalcDistance.java
proj0/TestCalcForceExertedBy.java
proj0/TestCalcForceExertedByXY.java
proj0/TestCalcNetForceExertedByXY.java
proj0/TestReadBodies.java
proj0/TestReadRadius.java
proj0/TestUpdate.java
proj0/.idea/misc.xml
proj0/.idea/modules.xml
proj0/.idea/proj0.iml
proj0/.idea/workspace.xml
proj0/audio/2001.mid
proj0/data/3body.txt
proj0/data/8star-rotation.txt
proj0/data/antimatter.txt
proj0/data/armageddon.txt
proj0/data/atom.txt
proj0/data/awesome.txt
proj0/data/binary.txt
proj0/data/binaryStars.txt
proj0/data/bowling.txt
proj0/data/chaosblossom.txt
proj0/data/dance10.txt
proj0/data/entropy-universe.txt
proj0/data/fourellipses.txt
proj0/data/galaxy.txt
proj0/data/hypnosis.txt
proj0/data/illusion.txt
proj0/data/its-a-trap.txt
proj0/data/kaleidoscope.txt
proj0/data/kevin.txt
proj0/data/massive-squirrel-battle.txt
proj0/data/planets-elliptical.txt
proj0/data/planets.txt
proj0/data/planetsparty.txt
proj0/data/pluto.txt
proj0/data/quad-stars.txt
proj0/data/renegade.txt
proj0/data/sbh2.txt
proj0/data/sbh3.txt
proj0/data/soap-opera.txt
proj0/data/spiral.txt
proj0/data/suninterference.txt
proj0/data/twin-binaries.txt
proj0/data/uniform100.txt
proj0/data/uniform3.txt
proj0/data/uniform8.txt
proj0/examples/advice.png
proj0/examples/BasicInDemo.java
proj0/examples/BasicInDemo_input_file.txt
proj0/examples/In.java
proj0/examples/InDemo.java
proj0/examples/national_salt_production.txt
proj0/examples/StdDraw.java
proj0/examples/StdDrawDemo.java
proj0/examples/StdOut.java
proj0/examples/StdRandom.java
proj0/images/acorn-1.gif
proj0/images/acorn3.gif
proj0/images/asteroid.gif
proj0/images/ball.gif
proj0/images/blackhole.gif
proj0/images/death_star.gif
proj0/images/earth.gif
proj0/images/electron.png
proj0/images/endor.gif
proj0/images/goodbye.gif
proj0/images/imback.gif
proj0/images/its_a_trap.gif
proj0/images/jupiter.gif
proj0/images/kevin.gif
proj0/images/mars.gif
proj0/images/mercury.gif
proj0/images/neptune.gif
proj0/images/ninjasquirrel_red.gif
proj0/images/nucleus.png
proj0/images/pin.gif
proj0/images/pluto.gif
proj0/images/rebel_cruiser.gif
proj0/images/saturn.gif
proj0/images/squirrel.gif
proj0/images/star.gif
proj0/images/star_destroyer.gif
proj0/images/starfield.jpg
proj0/images/sun.gif
proj0/images/uranus.gif
proj0/images/venus.gif
